@import url('https://fonts.bunny.net/css?family=Poppins');
@import "@fortawesome/fontawesome-free/css/all.css";

body #app{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: black; 	/*edited*/ 
    background-image: url(/public/image/dash.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

#app{
    min-height: 100vh;
}

/* CARD STYLE */
#app .card {
    background-color: rgba(255, 255, 255, 0.7);
}